.top {
  padding-top: 20px;
}

.images {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}


.card {
  border-radius: 10px;
  margin: 10px;
  height: 97%;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.action-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.price {
font-weight: 700;
}

.btn-primary {
  border: none;
  border-radius: 10px;
}